In [18]:
import geopandas as gpd
import numpy as np

In [19]:
muni_cd_mun_list = ['5101803', '5106257', '5100201', '5102702', '5107065']

In [20]:
muni_gdf = gpd.read_file('/home/ksolvik/research/reservoirs/analysis/data/misc/municipal_units/BR_Municipios_2021.shp')

In [21]:
muni_gdf_filtered = muni_gdf.loc[muni_gdf['CD_MUN'].isin(muni_cd_mun_list)]
muni_gdf_filtered['ID'] = np.arange(muni_gdf_filtered.shape[0])
muni_gdf_filtered = muni_gdf_filtered.to_crs('EPSG:4326')

/home/ksolvik/miniconda3/envs/resgis/lib/python3.10/site-packages/geopandas/geodataframe.py:1472: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [22]:
muni_gdf_filtered

,CD_MUN,NM_MUN,SIGLA,AREA_KM2,geometry,ID
5185,5100201,Água Boa,MT,7549.308,"POLYGON ((-53.09875 -13.63518, -52.93808 -13.6...",0
5200,5101803,Barra do Garças,MT,9117.301,"POLYGON ((-52.01522 -14.80353, -52.01476 -14.8...",1
5209,5102702,Canarana,MT,10855.181,"POLYGON ((-52.92228 -12.60815, -52.92206 -12.6...",2
5264,5106257,Nova Xavantina,MT,5520.460,"POLYGON ((-52.42380 -14.18114, -52.42304 -14.1...",3
5284,5107065,Querência,MT,17799.989,"POLYGON ((-53.22627 -11.25946, -53.22471 -11.2...",4

In [10]:
muni_gdf_filtered.to_file('./brazil_munis_interviews.geojson', driver='GeoJSON')

In [23]:
# muni_gdf_aea = muni_gdf_filtered.to_crs('+proj=aea +lat_0=-32 +lon_0=-60 +lat_1=-5 +lat_2=-42 +x_0=0 +y_0=0 +ellps=aust_SA +units=m +no_defs +type=crs')
muni_gdf_aea = muni_gdf_filtered.to_crs('ESRI:102033')

muni_gdf_aea.to_file('./brazil_munis_interviews_aea.shp')

In [24]:
muni_gdf_aea

,CD_MUN,NM_MUN,SIGLA,AREA_KM2,geometry,ID
5185,5100201,Água Boa,MT,7549.308,"POLYGON ((720771.527 2117660.259, 737498.910 2...",0
5200,5101803,Barra do Garças,MT,9117.301,"POLYGON ((826759.381 1978167.563, 826806.980 1...",1
5209,5102702,Canarana,MT,10855.181,"POLYGON ((744678.532 2234174.498, 744701.613 2...",2
5264,5106257,Nova Xavantina,MT,5520.460,"POLYGON ((788069.921 2051755.863, 788147.460 2...",3
5284,5107065,Querência,MT,17799.989,"POLYGON ((719591.519 2389156.878, 719738.985 2...",4